.products {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  width: 100%;
  max-width: 300px;
  height: 250px;
  box-shadow: 0px 0px 8px #000000;
  box-sizing: border-box;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product__title {
  font-size: 2rem;
}

.product__text {
  font-size: 1.4rem;
}

.product__button {
  width: 85%;
}
